body{
    width: 100%;
    box-sizing: border-box;
}

.main{
    position: relative;
    top: 100px;
    margin-bottom: 200px;
}


#bgCanvas {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    /* background: black; */
}

/*transparent background*/
.transBg{
    background: transparent;
}
.transBg h1{
    font-size: 65px;
    color: white;
    position: relative;
    bottom: 20px;
    font-family: 'Major Mono Display', monospace; !important;

}
.transBg h4{
    font-size: 40px;
    color: white;
    position: relative;
    bottom: 20px;
    font-family: 'Major Mono Display', monospace; !important;

}

    /*space logo*/

.planet{
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    overflow:hidden;
    box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
    left:50%;
    top:50%;
    margin:-150px;
}
.planet .mask{
    width:100%;
    height:100%;
    position: absolute;
    box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
    border-radius:50%;
}
.planet .background{
    animation: translateBackground 40s infinite linear;
    background:url(http://artem.anmedio.ru/dev/planet/mars.jpg) repeat-x;
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
}
.planet .clouds{
    background:url(http://artem.anmedio.ru/dev/planet/clouds.png) repeat-x;
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    animation: translateBackground 30s infinite linear;
    opacity: 0.4;
}
.planet .wrap{
    width:300px;
    height:300px;
    position:absolute;
    border-radius:50%;
    animation: rotatePlanet 150s infinite linear;
}
@keyframes translateBackground{
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:-600px;
    }
}
@keyframes rotatePlanet{
    0%{
        transform:rotateZ(0);
    }
    100%{
        transform:rotateZ(-360deg);
    }
}

/*//planets side*/
.planetSide img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    float: right ;
}
.planetSide{
    margin-bottom: 200px ;
}

/*catergories*/

.categories div a i {
    color: black;
}

/*floating planets*/

.float {
    -webkit-animation-name: Floating;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes Floating{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}
footer{
    height: 200px;
    width: 100%;
    background: black;
    color: white;
}

/*// rocket*/
.rocket img{
    height: 350px;
    position: relative;
    left: 100px;
}

/*rcket vibrate*/
.rocketVibrate {
    -webkit-animation-name: vibrate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes vibrate{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, -15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

.smoke{

    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: black solid 1px;
}
.smoke:nth-child(1) , .smoke:nth-child(3) , .smoke:nth-child(5), .smoke:nth-child(7){
    position: relative;
    top: 37px;

}
.smoke:nth-child(2) , .smoke:nth-child(4) , .smoke:nth-child(6){
    position: relative;
    top: 27px;
}
.floatSmoke {
    -webkit-animation-name: FloatingSmoke;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 2;
}
@-webkit-keyframes FloatingSmoke{
    10% {-webkit-transform:translate(0, 0px);}
    35% {-webkit-transform:translate(0, -15px);}
    60% {-webkit-transform: translate(0, -0px);    }
    85% {-webkit-transform:translate(0, -20px);}
    100% {-webkit-transform:translate(0, -5px);}


}

.uk-navbar-nav li a , .uk-logo , nav {
    font-family: 'Staatliches', cursive;
    color: white;
    background: black;
}

.uk-logo{
    font-size: xx-large;
}
.uk-navbar-nav li a {
    font-size: x-large;
}
.uk-navbar-center:hover , .uk-navbar-right a:hover , .uk-navbar-left a:hover {
    border-bottom: white 1px solid;
}
/*error*/

.error{
    width: 100%;
}
.btnBackHomeError{
    background: transparent;
    position: absolute;
    top: 626px;
    left: 508px;
    height: 63px;
    width: 265px;
    border-radius: 20px;
}